<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Course Dragger</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>What is this?</h3>
        <p>Course Dragger is a tech demo for my use of the AngularJS clientside framework.  I wanted to try leveraging that technology to solve a real world challenge, something that I would find difficult and time consuming to complete using JQuery.</p>
        <h3>Business Scenario</h3>
        <p>Create a web page that will allow a school administrator to visually arrange the schedule of courses for a given period.  
           The administrator should see two sets of data: courses and room times.  The administrator then merges the datasets by dragging a course to a desired time and location.  
           As they do so, they should receive a clear indication whether that time slot is available.  
           As the schedule is populated, they should see the location, start, and end times of each class both visually and in table format.
           The UI should be designed to prevent the user from making invalid entries, and result in a clean data package for submission to the web server.</p>
    </div>
</div>